@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
html,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #646883;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.home-list {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.home-list__container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
}

header {
  background-color: #22223b;
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  color: #fff;
  font-size: 13pt;
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
